

body{
    margin: 0;
    padding: 0;
    font-family:'Nanum Gothic', sans-serif;;

}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.fle-box1{
    width: 20%;
    margin: 10px;
}
.fle-box2{
    width: 50%;
    margin: 10px;

}
.fle-box1{
    width: 50%;
    margin: 10px;
}
.flex-img{
    width: 100px;
    margin-top: 5px;
}

a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

nav{
    background-color: #682DBD;
    border-radius: 5px;
}

.btn{
    background-color: #48B2EE;
    border-radius: 1px solid #48B2EE;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 5px;
    outline: none;
}

.flex-1{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.flex1-box1{
    width: 45%;
    margin: 20px;
}
.flex1-box2{
    width: 45%;
    margin: 20px;
}
.flex-2{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.flex2-box1{
    width: 45%;
    margin: 20px;
}

.flex2-box2{
    width: 45%;
    margin: 20px;
}
.flex-3{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
}

.flex3-box1{
    width: 20%;
    margin: 20px;
    border: 1px solid white;
    text-align: center;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.flex3-box2{
    width: 20%;
    margin: 20px;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.flex3-box3{
    width: 20%;
    margin: 20px;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.flex3-box4{
    width: 20%;
    margin: 20px;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.icon{
    width: 44px;
    height: 44px;
    margin-top: 10px;
}
.h1{
    text-align: center;
}
.div-img1{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #F7E8E3;
    text-align: center;
    margin-left: 60px;
    margin-top: 5px;
}
.div-img2{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #F9F3E4;
    text-align: center;
    margin-left: 60px;
    margin-top: 5px;
}
.div-img3{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #E3F8F3;
    text-align: center;
    margin-left: 60px;
    margin-top: 5px;
}
.div-img4{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #F3E7F1;
    text-align: center;
    margin-left: 60px;
    margin-top: 5px;
}
.p-div{
    border-radius: 7px;
    background: #682DBD;
    color: white;
}

@media only screen and (max-width: 600px) {
  .flex-box2{
    visibility: hidden;
  }
  .fle-box1{
    width: 30%;
  }
  .fle-box2{
    width: 70%;
  }
  .btn{
    width: 100px;
    padding: 7px;
  }
  nav{
    width: 100%;
    margin: auto;
  }
  .flex-1{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.flex1-box1{
    width: 80%;
 
}
.flex1-box2{
    width: 80%;
    
}
.flex-2{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.flex2-box1{
    width: 80%;
   
}

.flex2-box2{
 width: 80%;
}
.flex-3{
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    
}

.flex3-box1{
    width: 80%;
    margin: 20px;

}
.flex3-box2{
    width: 80%;
    margin: 20px;
}
.flex3-box3{
    width: 80%;
    margin: 20px;
}
.flex3-box4{
    width: 80%;
    margin: 20px;
}
}



@media only screen and (max-width: 768px) {
    .flex-box2{
        visibility: hidden;
      }
      .fle-box1{
        width: 30%;
      }
      .fle-box2{
        width: 70%;
      }
      .btn{
        width: 100px;
        padding: 7px;
      }
}



@media only screen and (max-width: 992px) {

}